<% 
const collection="category" ; 
const linkPrefix='admin/category' ; 
const linkThumb='' ; 
%>
    <div class="card card-info card-outline" >
        <form action='<%= linkPrefix%>/form/<%= category._id %>' data-id="<%= category._id %>" method="POST" class="mb-0" id="submit-data-form" enctype="multipart/form-data">
            <div class="card-body">
                <h1>
                    Add - Form
                </h1>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label text-sm-right required">Name</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" id="name-input-form" name="name" class="form-control form-control-sm"
                            value="<%=category.name%>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ordering" class="col-sm-2 col-form-label text-sm-right required">Ordering</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" id="ordering-input-form" name="ordering" class="form-control form-control-sm"
                            value="<%=category.ordering%>">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="photo" class="col-sm-2 col-form-label text-sm-right required">Upload Photo</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="file" id="thumbnail-input" name="photo" multiple onchange="previewImages()">
                        <div id="image-preview">
                            <% if (category.photo) { %>
                                <img src="<%= category.photo %>" alt="photo" style="width: 100px; height: 100px; margin-right: 10px;">
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label text-sm-right required">Description</label>
                    <div class="col-xs-12 col-sm-8">
                        <textarea type="text" id="description-input-form" name="description" class="form-control form-control-sm"
                            ><%=category.description%></textarea>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="status" class="col-sm-2 col-form-label text-sm-right">Status</label>
                    <div class="col-xs-12 col-sm-8">
                        <select id="status-select-form" name="status" class="custom-select custom-select-sm" >
                            <option value="active" <% if (category.status  === 'active') { %>selected<% } %>>Active</option>
                            <option value="inactive" <% if (category.status === 'inactive') { %>selected<% } %>>Inactive</option>
                        </select>
                    </div>
                </div>
                

            </div>
            <div class="card-footer">
                <div class="col-12 col-sm-8 offset-sm-2">
                    <button type="submit" class="btn btn-sm btn-success mr-1">
                        Submit</button>
                    <a href="/admin/<%=collection%>" class="btn btn-sm btn-danger mr-1">
                        Cancel</a>
                </div>
            </div>
        </form>

    </div>
    