<!-- article box -->
<div class="article-box">

    <div class="news-post article-post">
        <!-- 300x228 -->
        <% articles.forEach(article => { %>
        <div class="row">
            <div class="col-sm-6">
                <div class="post-gallery">
                    <img alt="" src="<%=helper.transformPhoto(article.thumbnail, 300, 228)%>">
                    <div class="hover-box">
                        <a href="/<%=article._id%>"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="post-content">
                    <a class="category-post" href="/<%=article.category_id.slug%>"><%=article.category_id.name%></a>
                    <h2><a href="/<%=article._id%>"><%=article.title%></a></h2>
                    <ul class="post-tags">
                        <li><i class="fa fa-clock-o"></i><%=helper.formatDate(article.createdAt)%></li>
                        <li><i class="fa fa-user"></i>by <a href="#"><%=article.author%></a></li>
                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                        <li><i class="fa fa-eye"></i>872</li>
                    </ul>
                </div>
            </div>
        </div>
        <% }); %>
    </div>

</div>
<!-- End article box -->