<div class="col-md-3 col-sm-4">
	
        <div class="advertisement">
            <div class="desktop-advert">
                <span>Advertisement</span>
                <img src="/frontend/upload/addsense/250x250.jpg" alt="">
            </div>
            <div class="tablet-advert">
                <span>Advertisement</span>
                <img src="/frontend/upload/addsense/200x200.jpg" alt="">
            </div>
            <div class="mobile-advert">
                <span>Advertisement</span>
                <img src="/frontend/upload/addsense/300x250.jpg" alt="">
            </div>
        </div>

        <div class="widget tab-posts-widget">

            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a href="#option1" data-toggle="tab">Phổ biến</a>
                </li>
                <li>
                    <a href="#option2" data-toggle="tab">Mới nhất</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="option1">
                    <ul class="list-posts">
                        <!-- 80x70 -->
                        <% popularArticles.slice(0, 6).forEach(article => { %>
                        <li>
                            <img src="<%= helper.transformPhoto(article.thumbnail, 80, 70) %>" alt="">
                            <div class="post-content">
                                <h2><a href="/<%= article.slug %>"><%= article.title %></a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i><%= helper.formatDate(article.createdAt) %></li>
                                </ul>
                            </div>
                        </li>
                        <% }) %>
                    </ul>
                </div>
                <div class="tab-pane" id="option2">
                    <ul class="list-posts">
                        <% latestArticles.slice(0, 6).forEach(article => { %>
                        <li>
                            <img src="<%= helper.transformPhoto(article.thumbnail, 80, 70) %>" alt="">
                            <div class="post-content">
                                <h2><a href="/<%= article.slug %>"><%= article.title %></a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i><%= helper.formatDate(article.createdAt) %></li>
                                </ul>
                            </div>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- End sidebar -->

</div>