<div class="col-md-2 col-sm-0">
	
    <!-- sidebar -->
    <div class="sidebar small-sidebar">

        <div class="widget review-widget">
            <h1 style="font-size: 13px;">Đọc nhiều nhất</h1>
            <ul class="review-posts-list">
                <li>
                    <!-- 170x80 -->
                    <% popularArticles.slice(0, 6).forEach(article => { %>
                        <% 
                            const transformedThumbnail = helper.transformPhoto(article.thumbnail, 170, 80);
                            const formattedDate = helper.formatDate(article.createdAt);
                            const truncatedTitle = article.title.length > 40
                            ? article.title.substring(0, 40) + '...' 
                            : article.title;
                            %>
                        <img src="<%= transformedThumbnail %>" alt="">
                        <h2><a href="/<%= article._id %>"><%= truncatedTitle %></a></h2>
                        <span class="date"><i class="fa fa-clock-o"></i><%= formattedDate %></span>
                        <span class="post-rating">
                        <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                    <% }) %>
                </li>
            </ul>
        </div>

        <div class="advertisement">
            <div class="desktop-advert">
                <span>Advertisement</span>
                <img src="/frontend/upload/addsense/160x600.jpg" alt="">
            </div>
        </div>

        <div class="widget categories-widget">
            <div class="title-section">
                <h1><span>Mục yêu thích</span></h1>
            </div>
            <ul class="category-list">
                <% categories.forEach(category => { %>
                <li>
                    <a style="text-transform: uppercase;" href="/<%= category.slug %>"><%= category.name %> <span>12</span></a>
                    <!-- <ul class="level2">
                        <li><a href="#">Fashion News <span>26</span></a></li>
                        <li><a href="#">Accessories <span>55</span></a></li>
                        <li><a href="#">Collection <span>37</span></a></li>
                        <li><a href="#">Street Style <span>62</span></a></li>
                    </ul> -->
                </li>
                <% }) %>
            </ul>
        </div>

    </div>

</div>