<div class="col-md-7 col-sm-8">
	
    <!-- block content -->
    <div class="block-content">

        <!-- carousel box -->
        <div class="carousel-box owl-wrapper">

            <div class="title-section">
                <h1><span>Tin Nóng</span></h1>
            </div>
            <div class="owl-carousel" data-num="2">
                <% for (let i = 0; i < categories.length -1 ; i += 2) { %>
                    <div class="item">
                        <div class="news-post image-post2">
                            <div class="post-gallery">
                                <img src="<%= helper.transformPhoto(categories[i].photo, 368, 300) %>" alt="">
                                <div class="hover-box">
                                    <div class="inner-hover">
                                        <a class="category-post" href="/<%=categories[i].slug%>"><%=categories[i].name%></a>
                                        <!-- <ul class="post-tags">
                                            <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                            <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news-post image-post2">
                            <div class="post-gallery">
                                <img src="<%= helper.transformPhoto(categories[i+1].photo, 368, 300) %>" alt="">
                                <div class="hover-box">
                                    <div class="inner-hover">
                                        <a class="category-post food" href="/<%=categories[i+1].slug%>"><%=categories[i+1].name%></a>
                                        <!-- <ul class="post-tags">
                                            <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                            <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
                
            </div>

        </div>
        <!-- End carousel box -->

        <!-- google addsense -->
        <div class="advertisement">
            <div class="desktop-advert">
                <span>Advertisement</span>
                <img src="/frontend/upload/addsense/600x80.jpg" alt="">
            </div>
            <div class="tablet-advert">
                <span>Advertisement</span>
                <img src="/frontend/upload/addsense/468x60-white.jpg" alt="">
            </div>
            <div class="mobile-advert">
                <span>Advertisement</span>
                <img src="/frontend/upload/addsense/300x250.jpg" alt="">
            </div>
        </div>
        <!-- End google addsense -->

        <!-- grid box -->
        <div class="grid-box">

            <div class="row">
                <div class="col-md-6">
                    <% const homeCategory = categories.sort((a, b) => a.ordering - b.ordering) %>    
                    <div class="title-section">
                        <h1><span><%=homeCategory[0].name%></span></h1>
                    </div>
                    <ul class="list-posts">
                        <% const homeArticles1 = articles.filter(article => article.category_id._id == `${homeCategory[0]._id}`) %>
                        <% homeArticles1.slice(0, 3).forEach(article => { %>
                        <li>
                            <!-- 100x80 -->
                            <img src="<%= helper.transformPhoto(article.thumbnail, 100, 80) %>" alt="">
                            <div class="post-content">
                                <h2><a href="/<%= article.slug %>"><%= article.title %></a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i><%= helper.formatDate(article.createdAt) %></li>
                                </ul>
                            </div>
                        </li>
                        <% }) %>
                    </ul>
                </div>

                <div class="col-md-6">

                    <div class="title-section">
                        <h1><span><%=homeCategory[1].name%></span></h1>
                    </div>

                    <ul class="list-posts">
                        <% const homeArticles2 = articles.filter(article => article.category_id._id == `${homeCategory[1]._id}`) %>
                        <% homeArticles2.slice(0, 3).forEach(article => { %>
                        <li>
                            <!-- 100x80 -->
                            <img src="<%= helper.transformPhoto(article.thumbnail, 100, 80) %>" alt="">
                            <div class="post-content">
                                <h2><a href="/<%= article.slug %>"><%= article.title %></a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i><%= helper.formatDate(article.createdAt) %></li>
                                </ul>
                            </div>
                        </li>
                        <% }) %>
                    </ul>
                </div>

            </div>

        </div>
        <!-- End grid box -->

        <!-- article box -->
        <div class="article-box">
            <div class="title-section">
                <h1><span>Tất cả bài viết</span></h1>
            </div>
            <div class="news-post article-post">
                <!-- 330x228 -->
                <a href="/article/<%= articles[0].slug %>"><i class="fa fa-link"></i></a>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="post-gallery">
                            <img alt="" src="<%= helper.transformPhoto(articles[0].thumbnail, 330, 228) %>">
                            <div class="hover-box">
                                <a href="/article/<%= articles[0].slug %>"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="post-content">
                            <a class="category-post" href="/category/<%= articles[0].category_id.slug %>"><%= articles[0].category_id.name %></a>
                            <h2><a href="/article/<%= articles[0].slug %>"><%= articles[0].title %></a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i><%= articles[0].createdAt.toLocaleDateString('vi-VN') %></li>
                                <li><i class="fa fa-user"></i>by <a href="#"><%= articles[0].author %></a></li>
                            </ul>
                            <span class="post-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- item2 -->
                <div class="col-sm-6">
                    <div class="post-content">
                        <a class="category-post" href="/category/<%= articles[1].category_id.slug %>"><%= articles[1].category_id.name %></a>
                        <h2><a href="/article/<%= articles[1].slug %>"><%= articles[1].title %></a></h2>
                        <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i><%= articles[1].createdAt.toLocaleDateString('vi-VN') %></li>
                            <li><i class="fa fa-user"></i>by <a href="#"><%= articles[1].author %></a></li>
                        </ul>
                        <span class="post-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                </div>
                <a href="/article/<%= articles[1].slug %>"><i class="fa fa-link"></i></a>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="post-gallery">
                            <img alt="" src="<%= helper.transformPhoto(articles[1].thumbnail, 330, 228) %>">
                            <div class="hover-box">
                                <a href="/article/<%= articles[1].slug %>"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- item3 -->
                <a href="/article/<%= articles[2].slug %>"><i class="fa fa-link"></i></a>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="post-gallery">
                            <img alt="" src="<%= helper.transformPhoto(articles[2].thumbnail, 330, 228) %>">
                            <div class="hover-box">
                                <a href="/article/<%= articles[2].slug %>"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="post-content">
                            <a class="category-post" href="/category/<%= articles[2].category_id.slug %>"><%= articles[2].category_id.name %></a>
                            <h2><a href="/article/<%= articles[2].slug %>"><%= articles[2].title %></a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i><%= articles[2].createdAt.toLocaleDateString('vi-VN') %></li>
                                <li><i class="fa fa-user"></i>by <a href="#"><%= articles[2].author %></a></li>
                            </ul>
                            <span class="post-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- item4 -->
                <div class="col-sm-6">
                    <div class="post-content">
                        <a class="category-post" href="/category/<%= articles[3].category_id.slug %>"><%= articles[3].category_id.name %></a>
                        <h2><a href="/article/<%= articles[3].slug %>"><%= articles[3].title %></a></h2>
                        <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i><%= articles[3].createdAt.toLocaleDateString('vi-VN') %></li>
                            <li><i class="fa fa-user"></i>by <a href="#"><%= articles[3].author %></a></li>
                        </ul>
                        <span class="post-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                    </div>
                </div>

                <a href="/article/<%= articles[3].slug %>"><i class="fa fa-link"></i></a>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="post-gallery">
                            <img alt="" src="<%= helper.transformPhoto(articles[3].thumbnail, 330, 228) %>">
                            <div class="hover-box">
                                <a href="/article/<%= articles[3].slug %>"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End article box -->

        <!-- Pagination box -->
        <div class="pagination-box">
            <ul class="pagination-list">
                <li><a class="active" href="/">1</a></li>
                <% if (totalPages >= 5) { %>
                    <li><a href="/?page=2">2</a></li>
                    <li><a href="/?page=3">3</a></li>
                <li><span>...</span></li>
                <% } %>
                <li><a href="/?page=<%=totalPages%>"><%=totalPages%></a></li>
                <% if (currentPage < totalPages) { %>
                    <li><a href="/?page=<%=currentPage+1%>">Next</a></li>
                <% } else { %>
                    <li class="disabled"><span>Next</span></li>
                <% } %>
            </ul>
            <p>Page <%=currentPage%> of <%=totalPages%></p>
        </div>
        <!-- End Pagination box -->

    </div>
    <!-- End block content -->

</div>