<!-- main-news-slider
			================================================== -->
			<%- include('../../elements/home/new-slider.ejs') %>
		<!-- End main-news-slider -->

		<!-- features-today-section
			================================================== -->
			<%- include('../../elements/home/features-today-section.ejs') %>
			<!-- End features-today-section -->
	<!-- block-wrapper-section
			================================================== -->
			<section class="block-wrapper">
				<div class="container">
					<div class="row">
					<%- include('../../elements/top-review.ejs') %>
					<%- include('../../elements/home/block-content.ejs') %>
					<%- include('../../elements/stay-connected.ejs') %>
					</div>
				</div>
			</section>
		<!-- End block-wrapper-section -->